/* Extends Styles */
%backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        /* IE10+ specific styles go here */  
        background-attachment: scroll;
    }
}

%flex {
    display: flex;
    align-items: center; /* Vertical Alignment */
    align-content: center;
    justify-content: center; /* Horizontal Alignment */
}

%flex-row {
    @extend %flex;
    flex-direction: row;
}

%flex-column {
    @extend %flex;
    flex-direction: column;
}