/* Button Styles */
.btn {
    color: $link;
    outline: none;
    margin: 1rem;
    padding: .7rem;
    font-size: 2rem;
    border-radius: 2rem;
    display: inline-block;
    text-decoration: none;
    border: 2px solid $activeLink;
    box-shadow: 2px 2px 5px $boxShadow;
    transition: color .3s, background-color .3s, scale .3s;

    @include break(768px) {
        padding: 1rem;
        margin: 1rem;
    }

    &:active {
        backface-visibility: hidden;
        transform: translate(1px, 2px);        
        // transform: translateY(2px);
        box-shadow: 1px 1px 3px $boxShadow;
    }

    &-link {
        background-color: $link;
        color: $navbar;

        &:hover,
        &:focus {
            color: $link;
            background-color: $activeLink;
        }
    }

    &-primary {
        background-color: $navbar;

        &:hover,
        &:focus {
            color: $navbar;
            background-color: $link;
            border-color: $activeLink;
        }
    }

    &-secondary {
        background-color: $activeLink;

        &:hover,
        &:focus {
            color: $navbar;
            background-color: $link;
            border-color: $activeLink;
        }
    }

    &-submit {
        color: $navbar;
        margin-left: 1px;
        border-radius: 1rem;
        background-color: $link;
        border-color: $borderColor;

        &:hover,
        &:focus {
            color: $link;
            background-color: $activeLink;
        }
    }
}