/* Card Styles */
.cards {
    @extend %flex-row;
    flex-wrap: wrap;
    
    // display: flex;
    // flex-direction: row;

    // background: red;
    // justify-content: space-around;
    // align-content: stretch;

    @include break(768px) {
        flex-direction: column;
    }
}

.card {
    // padding: 0;
    // min-height: 750px;
    margin: 0 auto;
    width: 80%; // 100%;
    // justify-content: space-between;
    // margin-bottom: 5rem;
    border: 1px solid #ccc;
    border-radius: 15px; // 5px;
    box-shadow: 2px 2px 2px #444;


    @extend %flex-column;
    // justify-content: stretch;
    // justify-items: stretch;

    // display: flex;
    // flex-direction: column;

    &:not(:last-of-type) {
        margin-bottom: 5rem;
    }

    @include break(768px) {
        flex-direction: row;

        &:nth-of-type(2n) {
            flex-direction: row-reverse;

            @include break(768px) {
                .project-image {
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

}

.card-heading {
    width: 100%; // 300px;
    
    // height: 100%;
    
    flex: 2.24; // 1 2; // 2.4

    @include break(768px) {
        // width: 35%; // 300px;
        // max-width: 300px;
        // max-height: 300px;
    }
}

.project-image {
    width: 100%;
    height: 100%;
    // max-width: 300px;
    // height: 200px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    @include break(768px) {
        // border-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        // &:nth-of-type(2n) {
        //     border-top-right-radius: 15px;
        //     border-bottom-right-radius: 15px;
        //     border-top-left-radius: none;
        //     border-bottom-left-radius: none;
        // }
    }
}

.card-body {
    // padding: 5px 10%;

    // display: flex;            
    // flex-direction: column;
    // align-items: center;
    
    @extend %flex-column;
    flex: 2; // 768;
    justify-content: space-between; // space-evenly;
    // justify-content: stretch;

    text-align: center;
    padding: 0 1.3rem;
    // padding: 0 2rem 2rem;



    // font-size: 1.5rem;
    // font-size: 1.2rem; // .9rem;
    // margin: 2rem 0;
    // padding-bottom: 2rem;
    // padding: 2rem 2rem 2rem;
    // font-weight: 700;

    @include break(768px) {
        // padding-bottom: 0;
        // font-size: .9rem;
    }
}

.card-footer {
    margin: 2rem 0 0;
}

.card-title {
    font-size: 2rem;
    margin: .5rem 0 1.3rem;
    text-decoration: underline;
    // font-weight: 800;
    // padding: 0;
    // margin: 20px 0;
}

.card-image {
    // border: 1px solid #000;
    // width: 100%;
    // max-width: 300px;
}