/* Container Styles */
.container {
    width: 100%; // 100%;
    max-width: 900px; // 900px;
    margin: 0 auto;
    text-align: center;

    // @include break(768px) {
    //     width: 90%;
    // }
}

/* Override Bootstrap styles to remove margin on mobile devices */
// .row {
//     margin-right: 0 !important;
// }

// .st1{fill:#9E005D;}