/* Footer Styles */
footer {
    margin-top: -8rem;
    position: relative;
    padding: 10rem 0 3.5rem;
    background: $navbar;
    
    @include polygonClipPath('0 0, 50% 25%, 100% 0, 100% 100%, 0 100%');

    h5 {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
        color: $light-white;
    }

    .follow-links {
        margin: 0;

        @extend %flex;

        &-btn {
            // padding: 0.3em 0.7em;
            color: white;
            padding: 1rem;
            margin: 0 1.5rem;
            font-size: 1.5rem;
            border-radius: 50%;
            background: $darker-gray;
            transition: all 500ms ease;
            
            @extend %flex;

            &:hover {
                background-color: $activeLink;
            }
        }
    }

    .copyright {
        margin: 1.5rem 0 0;
        color: $light-white;
        font-weight: 700;
        font-size: 2.2rem;

        .heart {
            padding: 0 1rem;
            color: $heart-red;
            font-size: 1.5em;
        }
    }

    .top-scroll__btn {
        color: $gray;
        font-size: 2rem;
        right: 2%;
        top: 10%;
        position: absolute;
        transition: all 500ms ease;

        &:hover {
            color: $activeLink;
        }
    }
}
