/* Site Wide Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: $light-white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    margin: 0 0 3rem;
}