/* Typography Styles */
:root {
    font-size: 62.5%; // 16px;
}

p {
    font-family: $font-secondary;
    font-size: 1.5rem;
    // font-weight: 400;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: $font-primary;
    font-weight: 400;
}

h2 {
    font-size: 6rem; // 4rem;
    // font-weight: 700;
}