/* Load Fonts */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Sans|Josefin+Slab|Merriweather|Oswald|Roboto+Slab|Fredericka+the+Great');

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Caveat+Brush|Cinzel|Gloria+Hallelujah|Indie+Flower|Kaushan+Script|Lobster|Luckiest+Guy|Permanent+Marker|Philosopher|Playfair+Display+SC');

/* Site Fonts */
$font-primary: 'Fredericka the Great', 'Caveat Brush', 'Josefin Slab', Arial, Helvetica, sans-serif;
$font-secondary: 'Josefin Slab', 'Amatic SC', Oswald, Arial, Helvetica, sans-serif;
$font-tertiary: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;

// 'Fredericka the Great', 
// 'Amatic SC', 