// Grid System
$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1080px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";

// Mountain Images
$background-image-1: '../../../assets/images/backgrounds/mountain1-md-res.jpg';
$background-image-2: '../../../assets/images/backgrounds/mountain2-md-res.jpg';
$background-image-3: '../../../assets/images/backgrounds/mountain-3.jpg';
$background-image-4: '../../../assets/images/backgrounds/mountain-4.jpg';
$background-image-5: '../../../assets/images/backgrounds/mountain-5.jpg';
$background-image-6: '../../../assets/images/backgrounds/mountain-6.jpg';

// Code Images
$background-image-7: '../../../assets/images/backgrounds/code-1.jpg';