<!-- About Me Section -->
<section id="about" class="about">
    <div class="container"> <!-- .container -->
        <div class="about-bio"> <!-- Bio Wrapper -->
            <h2 class="section-title">Who am I?</h2> <!-- text-center -->
            <p class="about-bio__text">
                I am a self taught, self motivated, 
                self driven technology enthusiast 
                with a passion emphasis on
                Programming and IT Networking. 
                I have worked in the Telecommunications 
                Industry for the past 8 years, 
                and for the past 18 months I have been 
                developing mobile first, dynamic web
                applications, and web sites. 
                I spend the majority of my time coding, 
                and learning all I can about
                web development technologies. 
                When I'm not developing web applications, 
                you can find me either skateboarding or 
                hanging out with friends and family.
            </p>
        </div> <!-- Bio Wrapper -->
    </div> <!-- .container -->

    <!-- resumeLinkGridItem Container -->
    <div class="container">
        <div class="resumeLinkGridItem">
            <a href="../../assets/DustinHammack-Resume.pdf" class="btn btn-secondary"
                download title="Download PDF Resume">
                <i class="fa fa-download"></i> R&eacute;sum&eacute;
            </a>
            <a href="https://github.com/rdhammack88" class="btn btn-primary"
                target="_blank" title="Github Profile">
                <i class="fab fa-github fa-1x"></i> Github
            </a>
            <!-- <a href="https://pastebin.com/u/rdhammack" class="btn btn-primary"
                target="_blank" title="Pastebin Profile">
                <i class="material-icons">developer_mode</i> Pastebin
            </a> -->
        </div> <!-- resumeLinkGridItem -->
    </div> <!-- resumeLinkGridItem Container -->

    <div class="skills">
        <div class="container">
            <h2 class="section-title">Skills</h2>
            <div class="skills-container">
                <div class="skills-progress-container"> <!-- HTML Progress -->
                    <svg class="skills-progress__ring">
                        <circle class="skills-progress__outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="html-skills-progress__ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>

                    <span class="skills-progress__label">
                        <i class="fab fa-html5"></i>
                    </span>
                    
                    <!-- <p class="skills-progress__description">
                        Using HTML5 to semantically markup web documents.
                    </p> -->
                </div> <!-- HTML Progress -->
                
                <div class="skills-progress-container"> <!-- CSS Progress -->
                    <svg class="skills-progress__ring">
                        <circle class="skills-progress__outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="css-skills-progress__ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>

                    <span class="skills-progress__label">
                        <i class="fab fa-css3-alt"></i>
                    </span>

                    <!-- <p class="skills-progress__description">
                        Style webpages using the latest and greatest.
                    </p> -->
                </div> <!-- CSS Progress -->
                
                <div class="skills-progress-container"> <!-- JavaScript Progress -->
                    <svg class="skills-progress__ring">
                        <circle class="skills-progress__outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="javascript-skills-progress__ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>

                    <span class="skills-progress__label">
                        <i class="fab fa-js-square"></i>
                    </span>

                    <!-- <p class="skills-progress__description">
                        Creation of dynamic web pages using the power of JavaScript, along with libraries and
                        frameworks, such as jQuery &amp; ReactJS.
                    </p> -->
                </div> <!-- JavaScript Progress -->

                <div class="skills-progress-container">
                    <!-- Node Progress -->
                    <svg class="skills-progress__ring">
                        <circle class="skills-progress__outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="node-skills-progress__ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>
                
                    <span class="skills-progress__label">
                        <i class="fab fa-node"></i>
                    </span>
                </div> <!-- Node Progress -->
                
                <div class="skills-progress-container"> <!-- PHP Progress -->
                    <svg class="skills-progress__ring">
                        <circle class="skills-progress__outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="php-skills-progress__ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>

                    <span class="skills-progress__label">
                        <i class="fab fa-php"></i>
                    </span>

                    <!-- <p class="skills-progress__description">
                        Creation of dynamic web pages using PHP &amp; MySQL. Also utilize the power of Laravel
                        Framework.
                    </p> -->
                </div><!-- PHP Progress -->

                <!-- <div class="skills-progress-container"> -->
                    <!-- SQL Progress -->
                    <!-- <svg class="skills-progress__ring">
                        <circle class="skills-progress__outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="sql-skills-progress__ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>
                
                    <span class="skills-progress__label">
                        <i class="fas fa-database"></i>
                    </span>
                </div> SQL Progress -->
            <!-- </div> .progress-container -->
        </div> <!-- .container -->
    </div> <!-- Skills Container -->
</section><!-- About Me Section -->