<!-- About Me Section -->
<section id="about" class="about">
    <div class="container">
        <!-- Bio Wrapper -->
        <div class="bio-wrapper">
            <!-- py-4 -->
            <!-- About Wrapper -->
            <!-- <div class="about-wrapper"> container -->
            <!-- About Row -->
            <!-- <div class=""> row -->
                <!-- <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-8 offset-xl-2"> -->
                <div>
                    <h2 class="text-center">Who am I?</h2>
                    <p class="self-bio">
                        I am a self taught, self motivated, self driven technology enthusiast with a passion emphasis
                        on
                        Programming and IT Networking. I have worked in the Telecommunications Industry for the past 8
                        years, and for the past 18 months I have been developing mobile first, dynamic web
                        applications, and web sites. I spend the majority of my time coding, and learning all I can
                        about
                        web development technologies. When I'm not developing web applications, you can find me either
                        skateboarding or hanging out with friends and family.
                    </p>
                </div>
            <!-- </div> About Row -->
            <!-- </div> -->
            <!-- About Wrapper -->
        </div> <!-- Bio Wrapper -->

        <!-- resumeLinkGridItem Container -->
        <div>
            <!-- class="container" -->
            <!-- Links Row -->
            <div class="row">
                <!-- my-5 -->
                <div class="col-12 my-2 text-center resumeLinkGridItem">
                    <a href="../../assets/DustinHammack-Resume.pdf" class="btn btn-info my-2 mx-sm-2 mx-md-1 col-12 col-sm-3 col-md-2"
                        download title="Download PDF Resume">
                        <i class="fa fa-download"></i> R&eacute;sum&eacute;
                    </a>
                    <a href="https://github.com/rdhammack88" class="btn btn-dark my-2 mx-sm-2 mx-md-1 col-12 col-sm-3 col-md-2"
                        target="_blank" title="Github Profile">
                        <i class="fab fa-github fa-1x"></i> Github
                    </a>
                    <a href="https://pastebin.com/u/rdhammack" class="btn btn-dark my-2 mx-sm-2 mx-md-1 col-12 col-sm-3 col-md-2"
                        target="_blank" title="Pastebin Profile">
                        <i class="material-icons">developer_mode</i> Pastebin
                    </a>
                </div> <!-- resumeLinkGridItem -->
            </div> <!-- Links Row -->
        </div> <!-- resumeLinkGridItem Container -->

    </div>
    

    <div class="skills-container"> <!--  class="my-3 py-5 skills-container" -->
        <!-- <div class="container pl-xl-5"> -->
            <h2 class="text-center skills-title">Skills</h2>
            <!-- <div class="row pl-lg-5"> -->
            <div class="progress-container">
                <!-- HTML Progress -->
                <div class="col-5 offset-1 col-sm-4 offset-sm-2 col-md-3 offset-md-0 col-lg-3 offset-lg-0 progress">
                    <svg class="progress-ring">
                        <circle class="progress-outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="html-progress-ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>
                    <!-- <span class="label">
                        85 <span class="percentage">%</span>
                    </span> -->
                    <!-- <h4 class="mt-4"><i class="fab fa-html5"></i> HTML5</h4> -->
                    <span class="label">
                        <i class="fab fa-html5"></i>
                    </span>
                    <!-- <p class="skills-description mt-1 pr-lg-5">
                        Using HTML5 to semantically markup web documents.
                    </p> -->
                </div> <!-- HTML Progress -->
                <!-- CSS Progress -->
                <div class="col-5 col-sm-4 col-md-3 col-lg-3 progress">
                    <svg class="progress-ring">
                        <circle class="progress-outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="css-progress-ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>
                    <!-- <span class="label">
                        85 <span class="percentage">%</span>
                    </span> -->
                    <!-- <h4 class="mt-4"><i class="fab fa-css3-alt"></i> CSS3</h4> -->
                    <span class="label">
                        <i class="fab fa-css3-alt"></i>
                    </span>
                    <!-- <p class="skills-description mt-1 pr-lg-5">
                        Style webpages using the latest and greatest.
                    </p> -->
                </div> <!-- CSS Progress -->
                <!-- JavaScript Progress -->
                <div class="col-5 offset-1 col-sm-4 offset-sm-2 col-md-3 offset-md-0 col-lg-3 progress">
                    <svg class="progress-ring">
                        <circle class="progress-outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="javascript-progress-ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>
                    <!-- <span class="label">
                        75 <span class="percentage">%</span>
                    </span> -->
                    <!-- <h4 class="mt-4"><i class="fab fa-js-square"></i> JavaScript</h4> -->
                    <span class="label">
                        <i class="fab fa-js-square"></i>
                    </span>
                    <!-- <p class="skills-description mt-1 pr-lg-5">
                        Creation of dynamic web pages using the power of JavaScript, along with libraries and
                        frameworks, such as jQuery &amp; ReactJS.
                    </p> -->
                </div> <!-- JavaScript Progress -->
                <!-- PHP Progress -->
                <div class="col-5 col-sm-4 col-md-3 col-lg-3 progress">
                    <svg class="progress-ring">
                        <circle class="progress-outline" stroke="#045" stroke-width="2" fill="#eee" r="64" cx="75" cy="75" />
                        <circle class="php-progress-ring" fill="transparent" r="55" cx="75" cy="75" />
                    </svg>
                    <!-- <span class="label">
                        65 <span class="percentage">%</span>
                    </span> -->
                    <span class="label">
                        <i class="fab fa-php"></i>
                    </span>
                    <!-- <h4 class="mt-4"><i class="fab fa-php"></i> PHP</h4> -->
                    <!-- <p class="skills-description mt-1 pr-lg-5">
                        Creation of dynamic web pages using PHP &amp; MySQL. Also utilize the power of Laravel
                        Framework.
                    </p> -->
                </div> <!-- PHP Progress -->
            </div> <!-- Progress Row -->
        <!-- </div> Progress Container -->
    </div> <!-- Skills Container -->
</section><!-- About Me Section -->