<!-- Contact Form Section -->
<section id="contact" class="contact lazyload" data-bg="../../../assets/images/backgrounds/mountain-4.jpg">
	<!-- linear-gradient(to right bottom,rgba(#111, 0.8),rgba(#111, 0.6)),  -->
	<!-- data-bg-color="linear-gradient(to right bottom,rgba(#111, 0.8),rgba(#111, 0.6))" -->
	<div class="container">
		<h2 class="section-title">Lets work together</h2>
		<form action="contact.php" method="post" class="form">
			<!-- <div class="form-row"> -->
				<div class="form-group">
					<input type="text" class="" id="name" name="name" placeholder="Name" autocomplete="name" required>
					<label for="name">
						<strong>Name:</strong> <!-- &nbsp;&nbsp; -->
						<small class="text-danger d-none nameError">* Required</small>
					</label>
				</div>
				<div class="form-group">
					<input type="text" class="" id="email" name="email" placeholder="Email" autocomplete="email" required>
					<label for="email">
						<strong>Email:</strong> <!-- &nbsp;&nbsp; -->
						<small class="text-danger d-none emailError">* Required</small>
					</label>
				</div>
			<!-- </div> -->
			<div class="form-group"> <!-- cols="10" -->
				<textarea name="message" id="message" rows="5" class="" placeholder="Project ideas, details, budget, etc..."
						  required></textarea>
				<label for="message">
					<strong>Message:</strong> &nbsp;&nbsp;
					<small class="text-danger d-none emailError">* Required</small>
				</label>
			</div>
			<div class="form-footer"> <!-- class="form-group" -->
				<p class=""><span class="required-text">&#42; All fields required</span></p>
				<!-- <div class="form-group form-check d-none">
								<input type="checkbox" class="form-check-input mx-2 d-none" id="robotCheck" name="robotCheck" value="gotcha">
								<!-- <label class="form-check-label text-uppercase text-center ml-4" for="robotCheck"><strong>I am a Robot</strong></label> --
							</div> -->
				<button type="submit" name="send" class="btn btn-submit">Send</button>
			</div>
		</form>
	</div>
</section><!-- Contact Form Section -->