</main><!-- Main Body Content -->
<footer class="text-center">
    <div class="top">
        <a href="#home" title="Back to Top" class="top-scroll__btn">
            <i class="fas fa-arrow-circle-up fa-2x"></i>
        </a>
    </div>
    <h5 class="footer-title">Follow Me</h5>
    <div class="follow-links">
        <span>
            <a href="https://www.linkedin.com/in/hammackdustin" target="_blank" title="linkedin" class="follow-links-btn">
                <i class="fab fa-linkedin-in"></i>
                <span class="sr-only">Dustin Hammack Linked-In Link</span>
            </a>
        </span>
        <span>
            <a href="https://www.facebook.com/dustin.hammack.3" target="_blank" title="facebook" class="follow-links-btn">
                <i class="fab fa-facebook-f"></i>
                <span class="sr-only">Dustin Hammack Facebook Link</span>
            </a>
        </span>
        <span>
            <a href="https://www.instagram.com/rdh23/" target="_blank" title="instagram" class="follow-links-btn">
                <i class="fab fa-instagram"></i>
                <span class="sr-only">Dustin Hammack Instagram Link</span>
            </a>
        </span>
    </div>
    <p class="copyright">
        Created with <span class="heart">&hearts;</span> by 
        <strong>Dustin Hammack</strong> &copy;2018
    </p>
</footer>

<!-- Scripts -->
<!-- build:js assets/scripts/app.js -->
<script src="../../temp/scripts/app.min.js"></script>
<!-- endbuild -->

</body>
</html>