</main><!-- Main Body Content -->
<footer class="text-center py-4 mt-5">
    <h5 class="text-white">Follow Me</h5>
    <div class="d-flex flex-row justify-content-center follow-links">
        <span>
            <a href="https://www.linkedin.com/in/hammackdustin" target="_blank" title="linkedin">
                <i class="fab fa-linkedin-in"></i>
                <span class="sr-only">Dustin Hammack Linked-In Link</span>
            </a>
        </span>
        <span>
            <a href="https://www.facebook.com/dustin.hammack.3" target="_blank" title="facebook">
                <i class="fab fa-facebook-f"></i>
                <span class="sr-only">Dustin Hammack Facebook Link</span>
            </a>
        </span>
        <span>
            <a href="https://www.instagram.com/rdh23/" target="_blank" title="instagram">
                <i class="fab fa-instagram"></i>
                <span class="sr-only">Dustin Hammack Instagram Link</span>
            </a>
        </span>
    </div>
    <p class="pt-4 copyright">Created with <span class="heart">&hearts;</span> by <strong>Dustin Hammack</strong>
        &copy;2018</p>
    <div class="top">
        <a href="#home">
            <i class="fas fa-arrow-circle-up fa-2x"></i>
        </a>
    </div>
</footer>

<!-- Scripts -->
<!-- Include JQuery, Popper, Bootstrap & jQuery Easing -->
<!-- <script src="./src/js/jquery.js"></script>
<script src="./src/js/popper.js"></script>
<script src="./src/js/bootstrap.js"></script>
<script src="./src/js/jquery.easing.min.js"></script> -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script> -->

    <!-- jQuery Easing -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script> -->

<!-- Custom JavaScript -->
<!-- <script src="./src/js/scripts.js"></script> -->

<!-- build:js assets/scripts/app.js -->
<script src="../../temp/scripts/app.min.js"></script>
<!-- endbuild -->

</body>
</html>