<!-- Main Content Section -->
<section id="home" class="home">
    <div class="home-wrapper lazyload" data-bg="../../../assets/images/backgrounds/mountain-3.jpg"> <!-- skate -->
        <div class="home-text-holder">
            <h2 class="home-title">Dustin Hammack</h2>
            <!-- <span class="home-arrow-head__left">&lt;</span> -->
            <hr class="home__spreader">
            <!-- <span class="home-arrow-head__right">&gt;</span> -->
            <h4 class="home-subtitle">Full Stack Web Developer</h4>
        </div>
        <div class="home-img-holder">
            <img src="./assets/images/mePro.png" alt="Professional photo of Dustin Hammack" class="home-img">

            <!-- <img class="home-img lazyload" src="./assets/images/mePro.png" alt="Professional photo of Dustin Hammack"> -->
        </div>
    </div> <!-- End of .home-wrapper -->
</section> <!-- Main Content Section -->
