<!-- Main Navigation -->
<!--  justify-content-end -->
<nav class="navbar navbar-expand-md fixed-top top-nav-scroll">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--  justify-content-end -->
    <div class="navbar-collapse collapse hide" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#home" id="home-link" class="nav-link border-bottom-animation" tabindex="1">Home</a>
            </li>
            <li class="nav-item">
                <a href="#about" id="about-link" class="nav-link border-bottom-animation" tabindex="2">About</a>
            </li>
            <!-- <li class="nav-logo"> nav-item  -->
            <img class="logo" src="./assets/images/favicon.svg" alt="">
            <!-- </li> -->
            <li class="nav-item">
                <a href="#projects" id="projects-link" class="nav-link border-bottom-animation"
                    tabindex="3">Portfolio</a>
            </li>
            <li class="nav-item">
                <a href="#contact" id="contact-link" class="nav-link border-bottom-animation" tabindex="4">Contact</a>
            </li>
        </ul>
    </div>
</nav> <!-- End of Main Navigation -->
<!-- Main Body Content -->
<main>