@-o-keyframes navSlider {
    0% {
        top: -200px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes navSlider {
    0% {
        top: -200px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes navSlider {
    0% {
        top: -200px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes navSlider {
    0% {
        top: -200px;
        // right: 0;
        // left: 100%;
        // top: -100%;
        width: 0;
        opacity: 0;
    }
    50% {
        // top: -100px;
        // right: 50%;
        // left: 50%;
        // top: -50%;
    }
    100% {
        top: 0;
        right: 100%; // 10px; // 100%
        left: 0;
        width: 100%;
        opacity: 1;
    }
}

@-o-keyframes navSliderHide {
    0% {
        top: 0;
        width: 100%;
        opacity: 1;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -200px;
        width: 0;
        opacity: 0;
    }
}

@-moz-keyframes navSliderHide {
    0% {
        top: 0;
        width: 100%;
        opacity: 1;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -200px;
        width: 0;
        opacity: 0;
    }
}

@-webkit-keyframes navSliderHide {
    0% {
        top: 0;
        width: 100%;
        opacity: 1;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -200px;
        width: 0;
        opacity: 0;
    }
}

@keyframes navSliderHide {
    0% {
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        opacity: 1;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -200px;
        right: 0;
        left: 100%;
        width: 0;
        opacity: 0;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.animateFadeIn {
    animation: fadeIn 3s ease forwards; // 4s
}

.animateProjectsFadeIn {
    animation: fadeIn 6s ease;
}
