/* Navigation */
.navbar {
    /* Remove Padding When Screen is Less Than 768px */
    padding: 0;

    /* Add Padding When Screen is Greater Than 768px */
    @include break(768px) {
        padding: 0.5rem 1rem;
    }

    /* Toggler Hamburger Button */
    .navbar-toggler {
        position: fixed;
        z-index: 1;
        top: 10px;
        right: 10px;
        outline: none;

        /* Toggler Hamburger Icon */
        .navbar-toggler-icon {
            display: block;
            width: 2rem;
            height: 0.3rem;
            margin-bottom: 0.46rem;
            background: $activeLink; // #000;
            border-radius: 20%;
            position: relative;
            outline: none;
            -webkit-transition: all 0.8s ease;
            -moz-transition: all 0.8s ease;
            transition: all 0.8s ease;

            /* Toggler Hamburger Icon When Clicked, Rotate Class is Toggled Via jQuery */
            &.rotated {
                background: $activeLink; // $light-white;

                &:nth-child(1) {
                    transform: rotateZ(45deg);
                    margin-top: 0.7rem;
                }

                &:nth-child(3) {
                    transform: rotateZ(-45deg);
                    top: -12px;
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    /* Add Transitioning Effect to The Collapsed Navbar Menu */
    .navbar-collapse {
        // top: -200px;
        opacity: 0;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        display: flex;
        justify-content: space-evenly;

        @include break(768px) {
            opacity: 1;
            top: 0;
        }

        /* When Hamburger Icon is Clicked and Nav Menu Appears */
        &.show {
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            background-color: $navbar; // $darkest-blue;
            width: 100%;
            opacity: 1;
            animation: navSlider 4s ease-in 2s;

            li.nav-item a.nav-link {
                width: 100vw;
                font-size: 1.6rem;
                padding: 0.7rem 1.5rem;
                &:hover {
                    color: $activeLink; // $baby-blue;
                    background: $link; // $dark-blue;
                    border-radius: 0;
                }
            }
        }
    }

    /* List Items Contained in the Navigation Bar */
    li.nav-item {
        &.active a.nav-link {
            color: $activeLink; // $dark-blue;
        }

        &.nav-logo {
            display: none;

            @include break(768px) {
                display: block;
            }
        }

        /* Link Items Contained in the Navigation Bar List Items */
        a.nav-link {
            color: $link; // $dark-blue;
            font-size: 1.4rem;
            font-weight: 600;
            text-align: center;
            padding: 0.5rem 1.315rem;
            outline: none;

            &:hover {
                border-radius: 10px;
            }

            @include break(768px, 950px) {
                font-size: 1.4rem;
                padding: 0.5rem 0.815rem;
            }
        }
    }

    /* When Window is 768px or Greater, Remove the Background Color on the Navigation Bar */
    @include break(768px) {
        .navbar-collapse.show {
            background: none;
        }
    }
}

/* Animation of Border Bottom - Mainly Used for Styling of Navigation Links */
.border-bottom-animation {
    &::after {
        @include break(768px) {
            content: '';
            width: 0%;
            height: 3px;
            background-color: $link;
            position: relative;
            display: block;
            top: 2px;
            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
        }
    }

    &:hover::after {
        @include break(768px) {
            width: 100%;
        }
    }
}

li.active .border-bottom-animation::after {
    background-color: $activeLink; // $dark-blue;
}

/* Custom Class Added When Screen is Scrolled, to Give Navigation Menu a Background */
.top-nav-scroll {
    padding: 10px 0;
    background-color: $navbar; // $darkest-blue;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;

    .collapse li:not(.active) a.nav-link {
        color: $light-white;
    }

    .border-bottom-animation {
        &::after {
            @include break(768px) {
                background-color: $light-white;
            }
        }
    }
}
