/* Home Section Styles*/

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0, 0)) {
        // -webkit-clip-path: polygon(0 0, 100% 0, 100%  100%, 50% 75vh, 0 100%);
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75vh, 0 100%);

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 50% 100%, 70vh 0);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 100%, 0 80vh);
        height: 95vh;
    }

    // background: transparentize($darker-blue, 0.4);
    
    // .row {
    //     position: relative;
    // }

    .text-holder {
        transform: translate(1%, 65%);
        text-align: center;

        h2 {
            color: $light-white;
            margin-bottom: -5px; // -10px
            margin-top: 0; // -20px;
            font-weight: 800;
            font-size: 2.5rem;

            @include break(992px) {
                font-size: 3.0rem;
            }
        }

        h4 {
            color: $light-white;
            margin-top: 5px; // -2px;
            margin-bottom: 0; // 25px;
            font-weight: 300;
            font-size: 1.3rem;

            @include break(992px) {
                font-size: 1.7rem;
            }
        }

        // /** Arrow Code */
        span {
            color: $light-goldenrod;
            vertical-align: middle;
            // font-weight: bolder;

            &:first-of-type {
                position: relative;
                right: -9px;
                // top: -1.5px;
            }

            &:last-of-type {
                position: relative;
                right: 9px;
                // top: -0.5px;
            }
        }

        hr {
            border: 0.5px solid $light-goldenrod;
            display: inline-block;
            width: 75%;
            margin: 0 auto;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            vertical-align: middle;

            @include break(992px) {
                width: 90%; // 88%;
            }
        }
    }

    .home-img {
        border-radius: 50%; // 20%
        width: 100%;
        height: 100%;

        &-holder {
            transform: translate(-2%, 105%); // 65%;
            padding: 10px;
            border-radius: 50%; // 20%
            max-width: 200px;
            max-height: 200px;
            background-color: $light-white;
            box-sizing: border-box;
        }
    }
}
