/* Navigation */
.navbar {
    /* Remove Padding When Screen is Less Than 768px */
    padding: 0;

    /* Add Padding When Screen is Greater Than 768px */
    @include break(768px) {
        padding: 0.5rem 1rem;
    }

    &-nav {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include break(768px) {
            flex-direction: row;
        }
    }

    /* Mobile Toggler Hamburger Button */
    &-toggler {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
        outline: none;
        border: none;
        background-color: transparent;
        
        /* Trial Styles */
        // background-color: $navbar; // transparent;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #333;
        /* End Trial Styles */

        @include break(768px) {
            display: none;
        }

        /* Mobile Toggler Hamburger Icon */
        &-icon {
            display: block;
            width: 2rem;
            height: 0.3rem;
            background: $activeLink; // #000;
            border-radius: 10%; // 20%;
            position: relative;
            outline: none;
            -webkit-transition: all 0.8s ease;
            -moz-transition: all 0.8s ease;
            transition: all 0.8s ease;

            &:not(:last-of-type) {
                margin-bottom: 0.46rem;
            }

            /* 
             * Mobile Toggler Hamburger Icon When Clicked,
             * Rotate Class is Toggled Via jQuery 
             */
            &.rotated {
                background: $activeLink; // $light-white;

                &:nth-child(1) {
                    transform: rotateZ(45deg);
                    margin-top: 0.7rem;
                }

                &:nth-child(3) {
                    transform: rotateZ(-45deg);
                    top: -12px;
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    /* Add Transitioning Effect to The Collapsed Navbar Menu */
    .navbar-collapse {
        // top: -200px;
        opacity: 0;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        display: none;
        width: 0;
        // animation: navSlider 1s ease-in .5s reverse;

        position: absolute;
        top: -100%;
        // left: 0;
        right: 0;
        left: 100%;

        @include break(768px) {
            width: 100%;
            opacity: 1;
            top: 0;
            display: flex;
            justify-content: space-evenly;
            position: initial;
            top: 0;
            left: 0;
        }

        &.hide {
            @include break(768px) {
                -webkit-transition: all 300ms ease-in-out;
                -moz-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
                animation: navSlider .5s linear .5s reverse;
            } 
        }

        /* When Hamburger Icon is Clicked and Nav Menu Appears */
        &.show {
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            // // background: linear-gradient(
            // //     to right bottom,
            // //     rgba($navbar, 0.8),  
            // //     rgba($link, 1)
            // //     rgba(#111, 0.6),
            // // ); 

            // background: linear-gradient(
            //     to right bottom,
            //     rgba($navbar, 0.8),  
            //     rgba($link, .5)
            // ); 

            //     // rgba($navbar, .9),
            background-color: $navbar; // $darkest-blue;
            // width: 100%;
            // opacity: 1;
            display: block;
            text-align: center;

            
            animation: navSlider .3s linear .2s forwards; // 3000ms

            li.nav-item a.nav-link {
                // width: 100vw;
                // font-size: 1.6rem;
                // padding: 0.7rem 1.5rem;
                // &:hover {
                //     color: $activeLink; // $baby-blue;
                //     background: $link; // $dark-blue;
                //     border-radius: 0;
                // }
            }
        }
    }

    /* List Items Contained in the Navigation Bar */
    li.nav-item {
        // display: block;
        width: 100%;
        // text-align: center;
        // // padding: 5px 7px;

        // @include break(768px) {
        //     display: inline-block;
        //     // width: 15%;
        // }
        
        &.active a.nav-link {
            color: $activeLink; // $dark-blue;

            &:hover {
                color: $activeLink;
            }

            &::after {
                content: '';
                width: 0;
                height: 3px;
                background-color: $activeLink;
                position: relative;
                display: block;
                top: 2px;
                -webkit-transition: all 400ms ease-in-out;
                -moz-transition: all 400ms ease-in-out;
                transition: all 400ms ease-in-out;

                @include break(768px) {
                    width: 100%;
                }
            }
        }

        /* Link Items Contained in the Navigation Bar List Items */
        a.nav-link {
            color: $link; // $dark-blue;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            padding: 1rem 1.315rem;
            outline: none;
            display: inline-block;
            width: inherit;
            // width: 100%;

            &:hover {
                // border-radius: 10px;
                color: $activeLink; // $baby-blue;
                background: $link; // $dark-blue;
                border-radius: 0;
                // width: 100%;

                @include break(768px) {
                    background: none;
                    color: $link;
                }
            }

            @include break(768px) {
                // width: 40%;
                width: initial;
            }

            @include break(768px, 950px) {
                font-size: 1.4rem;
                padding: 0.5rem 0.815rem;
            }
        }
    }

    /* When Window is 768px or Greater, Remove the Background Color on the Navigation Bar */
    @include break(768px) {
        .navbar-collapse.show {
            background: none;
        }
    }
}

/* Animation of Border Bottom - Mainly Used for Styling of Navigation Links */
.border-bottom-animation {
    &::after {
        @include break(768px) {
            content: '';
            width: 0%;
            height: 3px;
            background-color: $link;
            position: relative;
            display: block;
            top: 2px;
            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
        }
    }

    &:hover::after {
        @include break(768px) {
            width: 100%;
        }
    }
}

// li.active .border-bottom-animation::after {
//     background-color: $activeLink; // $dark-blue;
// }

/* Custom Class Added When Screen is Scrolled, to Give Navigation Menu a Background */
.top-nav-scroll {
    padding: 10px 0;
    background-color: $navbar; // $darkest-blue;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;

    .collapse li:not(.active) a.nav-link {
        color: $light-white;
    }

    .border-bottom-animation {
        &::after {
            @include break(768px) {
                background-color: $light-white;
            }
        }
    }
}

/* Top Fixed Navbar */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}