/* About Section Styles */
.about {
    padding-top: 5rem;

    &-bio {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        color: $boxShadow; // #111;
        
        &__text {
            margin: 3rem 0 4rem;
            font-size: 2.2rem;
            text-align: center;
        }
    }
}

.skills {
    // margin-top: 5rem;
    color: $light-white;

    @extend %flex-column;
    
    @include polygonClipPath('0 0, 100% 25%, 100% 100%, 0 75%', 100vh);
    // @include polygonClipPath('0 0, 100% 40%, 100% 100%, 0 55%', 100vh);

    @include break(768px) {
        height: 70vh;
    }

    &-container {
        @extend %flex-row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &-progress {
        position: relative;

        &__ring {
            width: 150px;
            height: 150px;
        }
        
        &__outline {
            fill: $light-white;
        }

        &__label {
            top: 25px;
            width: 100px;
            height: 100px;
            font-size: 2rem;
            position: absolute;
            border-radius: 50%;
            color: $light-white;
            background-color: $navbar; // $primary-dark; // $salmon-pink;
            transform: translateX(25%);

            @extend %flex;

            * {
                font-size: 5rem;
            }
        }

        &__description {
            width: 50%;
            margin: 0 auto;
            // font-size: 1.2rem;
            // padding-top: 1.2rem;
            
            // font-size: 0.9rem;
            // letter-spacing: 0.1rem;
            // border-top: 1px solid $light-white;
        }
    }
}