/* Contact Form Styles */
.contact {
    padding: 20rem 0 18rem;
    
    @extend %flex;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        /* IE10+ specific styles go here */  
        display: block
    }

    @include polygonClipPath('0 0, 100% 25%, 100% 100%, 0 100%');

    .section-title {
        color: $link;
        margin-top: 2rem;
    }

    .required-text {
        color: $link; // $salmon-red
        font-size: 2rem;
    }

    small {
        display: none;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 1rem;
        font-size: 2rem;
        line-height: 2.5rem;
        border-radius: 1rem;
        border: 2px solid rgba(0, 0, 0, .8); // #000; // $borderColor; // $light-gray;        

        &:focus {
            outline-color: $activeLink;
            border: 3px solid $activeLink;
        }

        &::-webkit-input-placeholder,
        ::placeholder {
            font-family: $font-secondary;
            font-weight: lighter;
            font-size: 2rem;
            color: $navbar; // $borderColor; // red;
            margin: 0;
        }

        &:placeholder-shown ~ label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(2rem)
        }
    }

    label {
        width: 100%;
        color: $link;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        margin-left: 1rem;
        transition: all .5s;
    }

    .form {
        width: 80vw;
        max-width: 500px;
        margin: 0 auto;

        @include break(768px) {
            width: 60vw;
        }

        &-group {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            margin-bottom: 1rem;
        }

        &-footer {
            padding-left: .5rem;
            text-align: left;
        }
    }
    
    .form-row {
        // width: 100%;
        // display: flex;
        // flex-wrap: wrap;
        // // justify-content: space-around;
        // justify-content: center;
    }
}
