/* Home Section Styles*/
.home {
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        height: 100vh;
        padding-right: 0;

        @include polygonClipPath('0 0, 100% 0, 100% 80vh, 50% 100%, 0 80vh', 95vh);
    }
    
    &-title {
        color: $light-white;
        margin: 0 0 -.5rem;
        font-weight: 800;
        font-size: 3rem;

        @include break(768px) {
            font-size: 4rem;
        }
    }

    &-subtitle {
        color: $light-white;
        margin: .5rem 0 0 ;
        font-weight: 300;
        font-size: 1.7rem;

        @include break(768px) {
            font-size: 2.2rem;
        }
    }

    &-text-holder {
        transform: translate(0, 65%); // 2%
        text-align: center;

        @include break(768px) {
            transform: translate(0, 130%); // 2%
        }
    }
    
    // /** Arrow Code */
    &-arrow-head {
        color: $light-goldenrod;
        vertical-align: middle;

        &__left {
            position: relative;
            right: -.9rem; // -9px
            // top: -1.5px;
        }

        &__right {
            position: relative;
            right: .9rem; // 9px
            // top: -0.5px;
        }
    }
    
    &__spreader {
        display: inline-block;
        width: 75%;

        @include break(768px) {
            width: 90%;
        }
    }
}
